body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fc93b6;
    color: #fd4683;
}

.container {
    width: 350px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h3 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
select{
    width: 100%;
    padding: 8px;
    margin-top: 5px; 
}

textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #fd9eb2;
    color: white;
    border: none;
    cursor: pointer;
}
.resultado {
    margin-top: 15px;
    font-size: 14px;
}